{% extends "layout.html" %}

{% block context %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
       <div class="card-header d-flex p-0">
                <h3 class="card-title p-3">Page</h3>
                <ul class="nav nav-pills ml-auto p-2">
                  <li class="nav-item"><a class="nav-link" href="{{url_for('show_table', table_name=context.table_name, page=1)}}">Prev</a></li>
                  <li class="nav-item"><a class="nav-link" href="{{url_for('show_table', table_name=context.table_name, page=2)}}">Next</a></li>
                </ul>
              </div><!-- /.card-header -->



          <div class="card-body">

 <div class="card-body table-responsive p-0" style="height: 300px;">

<table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                      {% for col_name in context.col_names %}
                          <th>{{ col_name }}</th>
                      {% endfor %}
                  </tr>
                  </thead>
                  <tbody>
                      {% for row in context.rows %}
                          <tr>
                              {% for value in row %}
                                  <td>{{row[value]}}</td>
                              {% endfor %}
                          </tr>
                      {% endfor %}
                </table> 
              </div>
              <!-- /.card-body -->



          </div>
        </div>

      </div>
    </div>
    <!-- /.row -->

  </div><!-- /.container-fluid -->
{% endblock %}
